
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: 'Bebas Neue', cursive;
}

h1 {
  font-size: 40px;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 25px;
  margin-bottom: 15px;
}

/* loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: whitesmoke;
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

/* Image container */
.image-container {
  margin: 10px 30%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px){
  h1{
    font-size: 20px;
  }
  .image-container {
    margin: 10px;
  }
}